.git
.github
.gitignore
**/.DS_Store
**/__pycache__
**/*.pyc
backend/logs
backend/celery_worker/logs
db/postgres/data
db/redis/data
documents
.env
**/.env
**/.env.local
**/.env.production
common_utils/.env.shared
backend/search_server/.env.shared
backend/celery_worker/.env.shared
