# 忽略frontend目录下的所有文件
node_modules/

# backend目录下的文件
backend/logs/*
backend/celery_worker/logs/*
backend/celery_worker/search_code/logs/*

# 忽略db目录下的postgres/data文件
db/postgres/data/*
db/redis/data/*

# 忽略documents目录下的所有文件
documents/*

# 忽略 python 缓存
__pycache__/
*.pyc

# 忽略环境变量
.env
deploy/.env

# 忽略 VSCode  的配置目录
.vscode/
.devcontainer/

# 忽略.DS_Store文件（macOS系统生成的隐藏文件）
.DS_Store

# embedding测试文件
embedding_testing/
